{
    "presets":["next/babel"],  
    "plugins":[     //add new plugin, let antd can load-on-demand
        [
            "import",
            {
                "libraryName":"antd"
            }
        ]
    ]
}